top {
    background-size: center;
    background-color: blue;
    text-align: center
}
body {
    background-image:url("https://live.staticflickr.com/3240/2368692530_f682b4248c_z.jpg") ;
    background-position: center;
    background-size: cover;
}
ol {
    text-align: center;
}

    h2 {
        text-align: center
}
td {
    background-image:url("") ;
    border: 3px solid black;
    width: 150px;
    height: 150px
}
.center {
    margin-left: auto;
    margin-right: auto;
}
(380 kB)
https://cdn.wallpapersafari.com/6/23/oCbql9.jpg
(150 kB)